.wrap {
  min-height: 100vh;
  font-size: 0;
}
.wrap .banner {
  height: 3.85rem /* 385/100 */;
  width: 100%;
  background: url("../img/banner.png") no-repeat;
  background-size: 100%;
  overflow: hidden;
}
.wrap .banner .app-title {
  color: #fff;
  font-size: 0.48rem /* 48/100 */;
  margin-top: 1.4rem /* 120/100 */;
  padding-left: 0.25rem /* 25/100 */;
  font-weight: bold;
}
.wrap .banner .app-sub-title {
  font-size: 0.3rem /* 30/100 */;
  padding-left: 0.25rem /* 25/100 */;
  font-weight: 600;
  color: #fff;
}
.wrap .content {
  min-height: calc(100vh - 3.85rem /* 385/100 */ + 1.1rem /* 110/100 */);
  border-radius: 0.5rem /* 50/100 */ 0.5rem /* 50/100 */ 0 0;
  background: #f8fbfe;
  margin-top: -1.1rem /* 110/100 */;
  padding: 0.4rem /* 40/100 */;
  overflow: hidden;
}
.wrap .content .tip {
  width: 100%;
  background: #fef9ec;
  border-radius: 0.25rem /* 25/100 */;
  font-size: 0.24rem /* 24/100 */;
  color: #666;
  box-shadow: 0px 3px 6px 3px #efe3c2;
  line-height: 0.58rem /* 58/100 */;
  padding: 0 0.3rem /* 30/100 */;
}
.wrap .content .tip .icon-tip {
  display: inline-block;
  width: 0.4rem /* 40/100 */;
  height: 0.4rem /* 40/100 */;
  border-radius: 50%;
  background: url("../img/tip_warning_icon.png") no-repeat;
  background-size: 100%;
  vertical-align: middle;
  margin-right: 0.24rem /* 24/100 */;
}
.wrap .content .tip span {
  line-height: 0.33rem /* 33/100 */;
}
.wrap .content .tip-warning {
  display: flex;
  padding: 0.13rem /* 13/100 */ 0.3rem /* 30/100 */;
}
.wrap .content .card {
  width: 100%;
  background: #636a84;
  box-shadow: 0px 3px 6px 3px #b8bede;
  border-radius: 0.2rem /* 20/100 */;
  padding: 0.14rem /* 14/100 */ 0.32rem /* 32/100 */;
  margin-top: 0.4rem /* 40/100 */;
}
.wrap .content .card >dl {
  border-bottom: 0.01rem /* 1/100 */ solid #fff;
  margin-top: 0.3rem /* 30/100 */;
}
.wrap .content .card >dl i {
  display: inline-block;
  width: 0.4rem /* 40/100 */;
  height: 0.4rem /* 40/100 */;
  margin-right: 0.24rem /* 24/100 */;
  vertical-align: middle;
}
.wrap .content .card >dl >dt .icon-user {
  background: url("../img/user_icon.png") no-repeat;
  background-size: 100%;
}
.wrap .content .card >dl >dt .icon-date {
  background: url("../img/date_icon.png") no-repeat;
  background-size: 100%;
}
.wrap .content .card >dl >dt span {
  font-size: 0.24rem /* 24/100 */;
  color: #c5c8cf;
  vertical-align: middle;
  font-weight: 400;
}
.wrap .content .card >dl >dd {
  height: 1rem /* 100/100 */;
  line-height: 1rem /* 100/100 */;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrap .content .card >dl >dd .icon-tel {
  background: url("../img/tel_icon.png") no-repeat;
  background-size: 100%;
}
.wrap .content .card >dl >dd span {
  font-size: 0.3rem /* 30/100 */;
  color: #fff;
  display: inline-block;
}
.wrap .content .card >dl >dd .name {
  flex: 1 2.2rem /* 220/100 */;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  word-wrap: break-word;
  word-break: break-all;
}
.wrap .content .card >dl >dd .tel {
  flex: 1 3rem /* 300/100 */;
  text-align: left;
}
.wrap .content .card >dl:last-child {
  border-bottom: 0;
}
.wrap .content .card .time >dd {
  justify-content: center;
}
.wrap .content .card .time >dd >span {
  flex: 1;
  background: transparent;
  color: #fff;
  font-size: 0.22rem /* 22/100 */;
  outline: none;
  border: 0;
  text-align: center;
  margin-top: 0.4rem /* 40/100 */;
}
.wrap .content .form {
  margin-top: 0.4rem /* 40/100 */;
  background: #fff;
  border-radius: 0.2rem /* 20/100 */;
  box-shadow: 0px 3px 6px 3px #eee;
  padding: 0.4rem /* 40/100 */ 0.3rem /* 30/100 */;
}
.wrap .content .form >dl >dt >i {
  display: inline-block;
  width: 0.4rem /* 40/100 */;
  height: 0.4rem /* 40/100 */;
  vertical-align: middle;
  margin-right: 0.18rem /* 18/100 */;
}
.wrap .content .form >dl >dt .icon-idCard {
  background: url("../img/idCard_icon.png") no-repeat;
  background-size: 100%;
}
.wrap .content .form >dl >dt .icon-good {
  background: url("../img/good_icon.png") no-repeat;
  background-size: 100%;
}
.wrap .content .form >dl >dt span {
  font-size: 0.24rem /* 24/100 */;
  color: #9b9b9b;
  vertical-align: middle;
  font-weight: 400;
}
.wrap .content .form >dl >dd .tkPhoto-box {
  height: 1.5rem /* 150/100 */;
  width: 100%;
  border-bottom: 0.01rem /* 1/100 */ solid #ccc;
  text-align: center;
}
.wrap .content .form >dl >dd .tkPhoto-box .img-box {
  width: 1.55rem /* 155/100 */;
  height: 1rem /* 100/100 */;
  border-radius: 0.2rem /* 20/100 */;
  box-shadow: 0px 3px 6px 3px #eee;
  margin: 0.23rem /* 23/100 */ auto 0;
  position: relative;
}
.wrap .content .form >dl >dd .tkPhoto-box .img-box .idCard {
  width: 100%;
  height: 100%;
}
.wrap .content .form >dl >dd .tkPhoto-box .img-box .edit {
  position: absolute;
  right: 0;
  top: 0;
  width: 0.44rem /* 44/100 */;
  height: 0.44rem /* 44/100 */;
}
.wrap .content .form >dl >dd .icon-tkPhoto {
  margin-top: 0.35rem /* 35/100 */;
  display: inline-block;
  width: 0.6rem /* 60/100 */;
  height: 0.6rem /* 60/100 */;
  background: url("../img/scan_icon.png") no-repeat;
  background-size: 100%;
}
.wrap .content .form >dl >dd >input[type='text'] {
  display: block;
  width: 4.98rem /* 498/100 */;
  padding-top: 0.5rem /* 50/100 */;
  border: 0;
  outline: none;
  border-bottom: 0.01rem /* 1/100 */ solid #d8d8d8;
  margin: 0 0.5rem /* 50/100 */ 0 0.6rem /* 60/100 */;
  font-size: 0.3rem /* 30/100 */;
  color: #666;
  text-indent: 0.1rem /* 10/100 */;
}
.wrap .content .form >dl >dd >input[type='text']::-webkit-input-placeholder {
  color: #bbb;
}
.wrap .content .form >dl >dd >input[type='text']:focus {
  border-bottom: 0.02rem /* 2/100 */ solid #b1cc1e;
}
.wrap .content .form >dl >dd .select-box {
  position: relative;
  padding: 0 0.5rem /* 50/100 */ 0 0.6rem /* 60/100 */;
}
.wrap .content .form >dl >dd .select-box >input[type='text'] {
  display: block;
  width: 4.98rem /* 498/100 */;
  padding-top: 0.5rem /* 50/100 */;
  border: 0;
  outline: none;
  border-bottom: 0.01rem /* 1/100 */ solid #d8d8d8;
  font-size: 0.3rem /* 30/100 */;
  color: #666;
  text-indent: 0.1rem /* 10/100 */;
}
.wrap .content .form >dl >dd .select-box >input[type='text']::-webkit-input-placeholder {
  color: #bbb;
}
.wrap .content .form >dl >dd .select-box >input[type='text']:focus {
  border-bottom: 0.02rem /* 2/100 */ solid #b1cc1e;
}
.wrap .content .form >dl >dd .select-box .select {
  display: none;
  position: absolute;
  top: 0.98rem /* 98/100 */;
  width: 4.98rem /* 498/100 */;
  margin: 0;
  background: #f7f7f7;
  box-shadow: 0px 3px 6px 3px #eee;
}
.wrap .content .form >dl >dd .select-box .select>li {
  font-size: 0.24rem /* 24/100 */;
  color: #666;
  padding: 0.2rem /* 20/100 */ 0.35rem /* 35/100 */ 0 0.2rem /* 20/100 */;
}
.wrap .content .form >dl >dd .good-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 0.25rem /* 25/100 */;
  overflow: hidden;
}
.wrap .content .form >dl >dd .good-list >span {
  width: 2.33rem /* 233/100 */;
  height: 0.55rem /* 55/100 */;
  border-radius: 0.25rem /* 25/100 */;
  border: 1px solid #b1cc1e;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 0.3rem /* 30/100 */;
  color: #666;
  text-indent: 0.15rem /* 15/100 */;
  line-height: 0.55rem /* 55/100 */;
  margin-left: 0.6rem /* 60/100 */;
  margin-bottom: 0.4rem /* 40/100 */;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 0.1rem /* 10/100 */;
}
.wrap .content .form >dl >dd .good-list >span .icon-close {
  display: inline-block;
  width: 0.3rem /* 30/100 */;
  height: 0.3rem /* 30/100 */;
  background: url("../img/close_icon.png") no-repeat;
  background-size: 100%;
}
.wrap .content .form >dl >dd >button {
  display: block;
  width: 2.33rem /* 233/100 */;
  height: 0.55rem /* 55/100 */;
  border-radius: 0.28rem /* 28/100 */;
  box-shadow: 0px 3px 6px 3px #e5e5e5;
  background: #fff;
  color: #b1cc1e;
  font-size: 0.26rem /* 26/100 */;
  border: 1px solid #b1cc1e;
  margin: 0 auto 0.4rem /* 40/100 */;
  outline: none;
}
.wrap .content .form .main-visitor,
.wrap .content .form .visitor {
  padding-top: 0.25rem /* 25/100 */;
}
.wrap .content .form .main-visitor dt,
.wrap .content .form .visitor dt {
  display: flex;
  justify-content: space-between;
}
.wrap .content .form .main-visitor dt .title .icon-user,
.wrap .content .form .visitor dt .title .icon-user {
  display: inline-block;
  width: 0.4rem /* 40/100 */;
  height: 0.4rem /* 40/100 */;
  vertical-align: middle;
  margin-right: 0.18rem /* 18/100 */;
  background: url("../img/user_icon.png") no-repeat;
  background-size: 100%;
}
.wrap .content .form .main-visitor dt .icon-delete,
.wrap .content .form .visitor dt .icon-delete {
  display: inline-block;
  width: 0.4rem /* 40/100 */;
  height: 0.4rem /* 40/100 */;
  background: url("../img/delete_icon.png") no-repeat;
  background-size: 100%;
}
.wrap .content .form .main-visitor dd,
.wrap .content .form .visitor dd {
  margin-top: 0.1rem /* 10/100 */;
}
.wrap .content .form .goods {
  padding-top: 0.2rem /* 20/100 */;
}
.wrap .content .form .goods >dd {
  border-bottom: 1px solid #ccc;
}
.wrap .content .form .add-visitor {
  width: 100%;
  border: 1px solid #d5e679;
  background: #b1cc1e;
  box-shadow: 0px 3px 6px 3px #d5e679;
  height: 0.94rem /* 94/100 */;
  line-height: 0.94rem /* 94/100 */;
  color: #fff;
  font-size: 0.32rem /* 32/100 */;
  border-radius: 0.47rem /* 47/100 */;
  margin-top: 0.4rem /* 40/100 */;
  outline: none;
}
.wrap .content .op {
  margin-top: 0.6rem /* 60/100 */;
  display: flex;
  justify-content: space-between;
}
.wrap .content .op >button {
  width: 3.24rem /* 324/100 */;
  height: 0.94rem /* 94/100 */;
  border-radius: 0.47rem /* 47/100 */;
  outline: none;
  border: 0;
  font-size: 0.32rem /* 32/100 */;
  font-weight: 500;
}
.wrap .content .op >button:first-child {
  background: #eee;
  box-shadow: 0px 3px 6px 3px #dbdce0;
  color: #9b9b9b;
}
.wrap .content .op >button:last-child {
  background: #636a84;
  box-shadow: 0px 3px 6px 3px #9098c1;
  color: #fff;
}
.wrap .content .footer {
  margin-top: 0.4rem /* 40/100 */;
  text-align: center;
  font-size: 0.2rem /* 20/100 */;
}
.wrap .content .footer .app-order {
  color: #e5e5e5;
}
.wrap .content .footer .copyright {
  color: #ccc;
}
.mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  font-size: 0;
}
.mask .pop {
  position: absolute;
  width: 6.72rem /* 672/100 */;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  box-shadow: 0px 3px 6px 3px #eee;
  padding: 0.35rem /* 35/100 */ 0.45rem /* 45/100 */;
  border-radius: 0.2rem /* 20/100 */;
}
.mask .pop >dl >dt {
  display: flex;
  justify-content: space-between;
}
.mask .pop >dl >dt .head >i {
  display: inline-block;
  width: 0.4rem /* 40/100 */;
  height: 0.4rem /* 40/100 */;
  margin-right: 0.16rem /* 16/100 */;
  vertical-align: middle;
}
.mask .pop >dl >dt .head .icon-good {
  background: url("../img/good_icon.png") no-repeat;
  background-size: 100%;
}
.mask .pop >dl >dt .head .icon-visitor {
  background: url("../img/visitor_icon.png") no-repeat;
  background-size: 100%;
}
.mask .pop >dl >dt .head >span {
  font-size: 0.24rem /* 24/100 */;
  color: #9b9b9b;
  vertical-align: middle;
}
.mask .pop >dl >dt .icon-pop-close {
  display: inline-block;
  width: 0.4rem /* 40/100 */;
  height: 0.4rem /* 40/100 */;
  background: url("../img/pop_close_icon.png") no-repeat;
  background-size: 100%;
}
.mask .pop >dl >dd .pop-form {
  padding: 0 0.55rem /* 55/100 */;
}
.mask .pop >dl >dd .pop-form >input {
  display: block;
  width: 100%;
  padding-top: 0.5rem /* 50/100 */;
  font-size: 0.3rem /* 30/100 */;
  color: #666;
  border: 0;
  border-bottom: 1px solid #d8d8d8;
  outline: none;
}
.mask .pop >dl >dd .pop-form >input::-webkit-input-placeholder {
  color: #bbb;
}
.mask .pop >dl >dd .pop-form >input:focus {
  border-color: #b1cc1e;
}
.mask .pop >dl >dd .pop-form .input-box >input {
  display: block;
  width: 100%;
  padding-top: 0.5rem /* 50/100 */;
  font-size: 0.3rem /* 30/100 */;
  color: #666;
  border: 0;
  border-bottom: 1px solid #d8d8d8;
  outline: none;
  text-indent: 0.1rem /* 10/100 */;
}
.mask .pop >dl >dd .pop-form .input-box >input::-webkit-input-placeholder {
  color: #bbb;
}
.mask .pop >dl >dd .pop-form .input-box >input:focus {
  border-color: #b1cc1e;
}
.mask .pop >dl >dd .pop-form >button {
  display: block;
  width: 2.9rem /* 290/100 */;
  height: 0.94rem /* 94/100 */;
  background: #b1cc1e;
  box-shadow: 0px 3px 6px 3px #d5e679;
  border-radius: 0.47rem /* 47/100 */;
  margin: 0.4rem /* 40/100 */ auto 0;
  border: 0;
  outline: none;
  color: #fff;
  font-size: 0.32rem /* 32/100 */;
}
.mask .pop >dl >dd .pop-form >ul {
  margin-top: 0.4rem /* 40/100 */;
}
.mask .pop >dl >dd .pop-form >ul >li {
  width: 100%;
  height: 1.1rem /* 110/100 */;
  border-bottom: 1px solid #e5e5e5;
  padding-top: 0.15rem /* 15/100 */;
}
.mask .pop >dl >dd .pop-form >ul >li >p {
  font-size: 0.3rem /* 30/100 */;
  color: #000;
  margin: 0;
}
.mask .pop >dl >dd .pop-form >ul >li >p .status {
  font-size: 0.24rem /* 24/100 */;
  color: #636a84;
}
.mask .pop >dl >dd .pop-form >ul >li .tel {
  font-size: 0.24rem /* 24/100 */;
  color: #666;
}
.mask .pop >dl >dd .pop-form >ul >li:first-child {
  border-top: 1px solid #e5e5e5;
}
.mask .pop >dl >dd >button {
  margin-top: 0.55rem /* 55/100 */;
  width: 100%;
  height: 0.94rem /* 94/100 */;
  background: #b1cc1e;
  border: 1px solid #d5e679;
  color: #fff;
  font-size: 0.32rem /* 32/100 */;
  box-shadow: 0px 3px 6px 3px #d5e679;
  border-radius: 0.47rem /* 47/100 */;
  outline: none;
}
.wrap .content .tip-success {
  width: 100%;
  height: 4.35rem /* 435/100 */;
  border-radius: 0.2rem /* 20/100 */;
  display: flex;
  padding: 0.35rem /* 35/100 */;
  justify-content: space-between;
  background: #f9faec;
  box-shadow: 0px 3px 6px 3px #e7eabd;
}
.wrap .content .tip-success >div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 3rem /* 300/100 */;
}
.wrap .content .tip-success >div .icon-success {
  display: inline-block;
  width: 0.5rem /* 50/100 */;
  height: 0.5rem /* 50/100 */;
  background: url("../img/big_success_icon.png") no-repeat;
  background-size: 100%;
}
.wrap .content .tip-success >div p {
  margin: 0;
  line-height: 0.42rem /* 42/100 */;
}
.wrap .content .tip-success >div .tip-title {
  font-size: 0.3rem /* 30/100 */;
  color: #9db51d;
  margin-top: 0.2rem /* 20/100 */;
}
.wrap .content .tip-success >div .tip-sub-title {
  font-size: 0.24rem /* 24/100 */;
  color: #666;
  margin-top: 0.3rem /* 30/100 */;
  text-align: center;
}
.wrap .content .tip-success >div .code {
  width: 3rem /* 300/100 */;
  height: 3rem /* 300/100 */;
  background: #fff;
  border-radius: 0.1rem /* 10/100 */;
  box-shadow: 0px 3px 6px 3px #e7eabd;
}
.wrap .content .tip-success >div .code-text {
  color: #9b9b9b;
  font-size: 0.24rem /* 24/100 */;
  margin-top: 0.2rem /* 20/100 */;
}
.wrap .content .tip-success >div:first-child {
  width: 2.55rem /* 255/100 */;
}
.wrap .content .adress {
  width: 100%;
  border-radius: 0.2rem /* 20/100 */;
  box-shadow: 0px 3px 6px 3px #eee;
  background: #fff;
}
.wrap .content .adress dl {
  padding: 0.3rem /* 30/100 */ 0.32rem /* 32/100 */ 0.14rem /* 14/100 */;
  margin-top: 0.4rem /* 40/100 */;
}
.wrap .content .adress dl dt .icon-position {
  display: inline-block;
  width: 0.32rem /* 32/100 */;
  height: 0.42rem /* 42/100 */;
  margin-right: 0.24rem /* 24/100 */;
  background: url("../img/position_icon.png") no-repeat;
  background-size: 100%;
  vertical-align: middle;
}
.wrap .content .adress dl dt span {
  font-size: 0.24rem /* 24/100 */;
  color: #9b9b9b;
  vertical-align: middle;
}
.wrap .content .adress dl dd ul>li {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-indent: 0.55rem /* 55/100 */;
  padding: 0.15rem /* 15/100 */ 0;
}
.wrap .content .adress dl dd ul>li >span {
  color: #666;
  font-size: 0.3rem /* 30/100 */;
}
.wrap .content .adress dl dd ul>li i {
  display: inline-block;
  width: 0.5rem /* 50/100 */;
  height: 0.5rem /* 50/100 */;
}
.wrap .content .adress dl dd ul>li .icon-redNavigation {
  background: url("../img/red_navigation_icon.png") no-repeat;
  background-size: 100%;
}
.wrap .content .adress dl dd ul>li .icon-greenNavigation {
  background: url("../img/green_navigation_icon.png") no-repeat;
  background-size: 100%;
}
.wrap .content .visitor-info {
  width: 100%;
  border-radius: 0.2rem /* 20/100 */;
  box-shadow: 0px 3px 6px 3px #eee;
  background: #fff;
  margin-top: 0.4rem /* 40/100 */;
  padding: 0.3rem /* 14/100 */ 0.32rem /* 32/100 */ 0.14rem /* 14/100 */;
}
.wrap .content .visitor-info dl dt i {
  vertical-align: middle;
  display: inline-block;
  width: 0.4rem /* 40/100 */;
  height: 0.42rem /* 42/100 */;
  margin-right: 0.24rem /* 24/100 */;
}
.wrap .content .visitor-info dl dt .icon-user {
  width: 0.32rem /* 32/100 */;
  background: url("../img/user_icon.png") no-repeat;
  background-size: 100%;
}
.wrap .content .visitor-info dl dt span {
  font-size: 0.24rem /* 24/100 */;
  color: #9b9b9b;
  vertical-align: middle;
}
.wrap .content .visitor-info dl dd {
  padding: 0.4rem /* 40/100 */ 0;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
}
.wrap .content .visitor-info dl dd span {
  font-size: 0.3rem /* 30/100 */;
  color: #4a4a4a;
  display: inline-block;
  width: 3rem /* 300/100 */;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.wrap .content .visitor-info dl dd .name {
  text-indent: 0.6rem /* 60/100 */;
}
.wrap .content .visitor-info dl dd .tel {
  text-align: end;
}
.wrap .content .visitor-info .visitor-list {
  margin-bottom: 0;
}
.wrap .content .visitor-info .visitor-list dt .icon-visitor {
  background: url("../img/visitor_icon.png") no-repeat;
  background-size: 100%;
}
.wrap .content .visitor-info .visitor-list dd {
  border-bottom: 0;
  padding: 0;
}
.wrap .content .visitor-info .visitor-list dd >ul {
  width: 100%;
  margin-bottom: 0;
}
.wrap .content .visitor-info .visitor-list dd >ul >li {
  height: 2.1rem /* 210/100 */;
  border-bottom: 1px solid #bbb;
  margin-left: 0.6rem /* 60/100 */;
  display: flex;
  justify-content: space-between;
  padding-top: 0.44rem /* 44/100 */;
}
.wrap .content .visitor-info .visitor-list dd >ul >li >div {
  display: flex;
  flex-direction: column;
}
.wrap .content .visitor-info .visitor-list dd >ul >li >div span {
  width: 100%;
}
.wrap .content .visitor-info .visitor-list dd >ul >li >div i {
  display: inline-block;
  width: 0.4rem /* 40/100 */;
  height: 0.4rem /* 40/100 */;
  margin-top: 0.48rem /* 48/100 */;
}
.wrap .content .visitor-info .visitor-list dd >ul >li >div .icon-man {
  background: url("../img/man_icon.png") no-repeat;
  background-size: 100%;
}
.wrap .content .visitor-info .visitor-list dd >ul >li >div .icon-woman {
  background: url("../img/woman_icon.png") no-repeat;
  background-size: 100%;
}
.wrap .content .visitor-info .visitor-list dd >ul >li >div:first-child {
  width: 1rem /* 200/100 */;
}
.wrap .content .visitor-info .visitor-list dd >ul >li >div:last-child {
  width: 4rem /* 300/100 */;
}
.wrap .content .visitor-info .visitor-list dd >ul >li >div:last-child >span {
  font-size: 0.24rem /* 24/100 */;
  color: #666;
  line-height: 0.33rem /* 33/100 */;
  text-align: end;
  margin-bottom: 0.15rem /* 15/100 */;
}
.wrap .content .visitor-info .visitor-list dd >ul >li >div:last-child >span:last-child {
  margin-bottom: 0;
}
.wrap .content .visitor-info .visitor-list dd >ul >li:last-child {
  border-bottom: 0;
}
