@import 'base.styl'
.card
    .name-list
        text-indent .6rem /* 60/100 */
        white-space nowrap
        text-overflow ellipsis
        overflow hidden
.form
    dl
        dt
            .icon-time
                background url('../img/time_icon.png') no-repeat
                background-size 100%
        dd
            ul
                margin 0
                padding-left .6rem /* 60/100 */
                li
                    width 100%
                    border-bottom 1px solid #EEEEEE
                    color #BBBBBB
                    font-size .3rem /* 30/100 */
                    height .75rem /* 75/100 */
                    line-height .75rem /* 75/100 */
                    text-indent .15rem /* 15/100 */
                .active
                    color #B1CC1E
                    position relative
                    &:after
                        content ''
                        display inline-block
                        position absolute
                        width .21rem /* 21/100 */
                        height .15rem /* 15/100 */
                        background url('../img/selected_icon.png') no-repeat
                        background-size .21rem /* 21/100 */.15rem /* 15/100 */
                        top 50%
                        transform translateY(-50%)
                        right .1rem /* 10/100 */
    .sure-delay
        width 100%
        height .94rem /* 94/100 */
        background #B1CC1E
        box-shadow 0px 3px 6px 3px rgba(213,230,121,1)
        border-radius .47rem /* 47/100 */
        font-size .32rem /* 32/100 */
        color #ffffff
        border 0
        outline none