@import 'base.styl'
.wrap 
    .content
        .error-content
            padding 0 1.45rem /* 145/100 */
            text-align center
            margin-top 1.86rem /* 186/100 */
            margin-bottom 3.65rem /* 365/100 */
            .error-img1
                width 1.95rem /* 195/100 */
                height 1.75rem /* 175/100 */
            .error-img2
                width 1.75rem /* 195/100 */
                height 1.75rem /* 175/100 */
            .error-img3
                width 2.6rem /* 260/100 */
                height 3.1rem /* 310/100 */
            .error-img4
                width 3rem /* 300/100 */
                height 3.34rem /* 334/100 */
            .error-text
                font-size .34rem /* 34/100 */
                color #9B9B9B
                text-align center
                margin-top .6rem /* 60/100 */
        .error-content
            margin-bottom 2.39rem /* 239/100 */